*{
    margin:0;/*外边距*/
    padding: 0;/*边距*/
    box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background: url(image/day.jpg) no-repeat;/*不覆盖*/
    background-size: cover;/*背景尺寸，封面*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
nav{
  background: rgba(244,244,244,0.2);/*导航栏背景*/
  border-radius: 20px;/*导航栏圆滑度*/
  padding: 1px;
  backdrop-filter:blur(4px)
}
nav ul li{
  list-style: none;
  display: inline-block;
  padding: 13px 35px;
  margin: 10px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 0.5s;
}
nav ul li::after{
  content: '';
  background: #f44566;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  transition: top 0.5s,opacity 0.5s;
}
nav ul li:hover{/*导航栏悬停动画*/
  color: #fff;
}
nav ul li:hover::after{
  top: 50%;
  opacity: 1;
}

a{
  /*链接去除下划线*/
    text-decoration: none;
    color: #f4f4f4;
}

button{
  /*按钮相关设置*/
    position: absolute;
    font-size: 1.5em;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;/*按钮背景大小*/
    width: 125px;
    height: 35px;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    border-radius: 20px;/*按钮边框圆滑度*/
    z-index: 1;/*按钮文本置顶*/
}
button::before{
    content: "";
    position: absolute;
    left: -5px;/*按钮边框变大*/
    right: -5px;
    top: -5px;
    bottom: -5px;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 20px;
    filter: blur(1px);/*emm，按钮虚了*/
    z-index: -1;
}
button:hover::before{
   animation: sun 7s infinite; /*按钮动画设置*/
}
button:hover{
    animation: sun 7s infinite;/*鼠标悬停动画*/
}
@keyframes sun{
    100%{
        background-position: -400% 0;
    }
}